$color-black: #303030;
$color-bondi: #308090;
$color-gray-light: #F0F0F0;

$color-yellow: #ffec02;
$color-grey: #666666;
$color-violet: #8f1a81;

$options-bar-height: 80px;
$game-canvas-width: 1920px;
$game-canvas-height: 1080px;

/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inconsolata-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
       url('../fonts/inconsolata-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inconsolata-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inconsolata-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inconsolata-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inconsolata-v18-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* exo-2-regular - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/exo-2-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Regular'), local('Exo2-Regular'),
       url('../fonts/exo-2-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/exo-2-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/exo-2-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/exo-2-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/exo-2-v7-latin-regular.svg#Exo2') format('svg'); /* Legacy iOS */
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Exo 2';
  background-color: black;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

#central_info {
  position: absolute;
  width: 960px;
  left: 480px;
  top: 300px;
}

.report_text {
  font-family: 'Inconsolata';
}

p.report_paragraph {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

#report {
  z-index: 100;
  position: relative;
  margin: 0 auto;
  top: 0;
  width: 830px;
  padding: 20px;
  background-color: #FFF280;
  box-shadow: 10px 15px 10px -5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;  
  opacity: 0;
  font-size: 22px;
}

.report_down {
  animation-duration: 1s;
  animation-name: reportDown;
  animation-fill-mode: forwards;
}

.report_up {
  animation-duration: 1s;
  animation-name: reportUp;
  animation-fill-mode: forwards;
}

@keyframes reportDown {
  from { top: 30px; }
  to { top: 300px; }
}

@keyframes reportUp {
  from { top: 300px; }
  to { top: 30px; }
}

.top_menu {
  top: 0;
}

.bottom_menu {
  top: 220px;
}

#menu {
  position: absolute;
  width: 480px;
  height: 280px;
  left: 240px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 15px;
  z-index: 1000;
}

#menu_cursor_area {
  position: absolute;
  left: 20px;
  top: 50px;
  width: 60px;
  height: 430px;
  padding: 0;
  margin: 0;
}
#menu_options_area {
  position: absolute;
  top: 50px;
  left: 60px;
  width: 420px;
  height: 430px;
  padding: 0;
  margin: 0;
  line-height: 15px;
}

.menu_option {
  width: 380px;
  height: 60px;
  margin: 0 0 15px 0;
  padding: 0px 10px 0 10px;
  border: 5px solid $color-yellow;
  border-radius: 15px;
  color: black;
  background-color: white;

  display:table-cell;
  vertical-align: middle;

  line-height: 80%;
  text-align: left;
  word-wrap: break-word;
  font-family: 'Exo 2';
  font-size: 20px;
}

.fade_in {
  animation: fade_in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fade_out {
  animation: fade_out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade_in {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fade_out {
  from { opacity: 1 }
  to { opacity: 0 }
}

.selected {
  background-color: $color-yellow;
}

#menu_cursor {
  width: 0; 
  height: 0; 
  margin: 15px 0 0 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid $color-grey;
}

.info_element {
  position: absolute;
  width: 176px;
  height: 176px;
  margin: 2px;
  float: left;
  background-color: #D0D0D0F0;
  z-index: 100;
  border-radius: 2px;
  opacity: 0;
  padding: 10px;
  font-size: 18px;
}

#menu_title {
  font-size: 24px;
  text-align: center;
  margin: 10px 10px 2px 10px;
}

h2 {
  font-size: 26px;
  text-align: center;
  margin: 10px 0 15px 0;
}
h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 2px 0;
}

.info_description {
  color: $color-black;
}

#game {
  width: $game-canvas-width;
  height: $game-canvas-height;
  padding: 0px;
  margin: 0px;

  canvas {
    max-width: $game-canvas-width;
    max-height: $game-canvas-height;
    padding: 0px;
    margin: 0px;
    display: block;
  }
}

button {
  margin: 5px;
  border-width: 1px;
  background-color: white;
  color: #303030;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
}

$advance-button-width: 240px;
$advance-button-left: ($game-canvas-width - $advance-button-width)/2;

#advanceButton {
  z-index: 1001;
  position: absolute;
  display: none;
  left: $advance-button-left;
  width: $advance-button-width;
  bottom: 200px;
}
