extends tpl/base

block body
  #info_elements
    #info_element_0(class='info_element')
      img#image(class='info_image')
      span#description(class='info_description')
    #info_element_1(class='info_element')
      img#image(class='info_image')
      span#description(class='info_description')
    #info_element_2(class='info_element')
      img#image(class='info_image')
      span#description(class='info_description')
    #info_element_3(class='info_element')
      img#image(class='info_image')
      span#description(class='info_description')
  #game
  #report
    h2 Report
    p
      span#report_situation_description
    h3
      | Policy:
      span#report_policy_name
    h3
      | Objective:
      span#report_policy_objective
    b
      | Decision:
    span#report_decision

  #options_bar
    .text-center
      | Type of Policy:
      |
      select#option_policy
        option(value="humanist")
          | Humanist
        option(value="profit")
          | Profit based
        option(value="protector")
          | Protector
      |
      | Situation:
      |
      select#option_situation
        option(value="car-enters-lane")
          | Car enters your lane
        option(value="tree-falls")
          | A tree falls in the road
      button#startButton(type="button")
        | Start!
