extends tpl/base

block body
  #info_elements
    .text-center
    #info_element_0(class='info_element')
      h3#name
      #description
    #info_element_1(class='info_element')
      h3#name
      #description
    #info_element_2(class='info_element')
      h3#name
      #description
    #info_element_3(class='info_element')
      h3#name
      #description

  #menu
    #menu_cursor_area
      #menu_cursor
    #menu_options_area
      #menu_option_1(class='menu_option')
        | A tree falls
      #menu_option_2(class='menu_option')
        | A child runs in the street
      #menu_option_3(class='menu_option')
        | A car enters your lane

  #game
  #report
    .text-center
    h2 Report
    p
      span#situation_description
    h3
      | Policy:
      span#policy_name
    h3
      | Objective:
      span#policy_objective
    b
      | Decision:
    span#decision

  button#advanceButton(type="button")
    span#advanceText

  #options_bar
    .text-center
      | Type of Policy:
      |
      select#option_policy
        option(value="humanist")
          | Humanist
        option(value="profit")
          | Profit based
        option(value="protector")
          | Protector
      |
      | Situation:
      |
      select#option_situation
        option(value="car-enters-lane")
          | Car enters your lane
        option(value="tree-falls")
          | A tree falls in the road
        option(value="child-runs")
          | A child runs onto the street
      button#startButton(type="button")
        | Start!
      br
      button#debugButton(type="button")
        | Street Debug on/off