extends tpl/base

block body
  .info_element
    h3.name
    .description
  .info_element
    h3.name
    .description
  .info_element
    h3.name
    .description
  .info_element
    h3.name
    .description

  #central_info
    #report
      .text-center(class='report_text')
      h2(class='report_text') Report
      p(class="report_paragraph")
        span#situation_description(class='report_text')
      h3#policy(class='report_text')
        span#policy_name(class='report_text')
        | :&nbsp;
        span#policy_objective(class='report_text')
      p#decision(class="report_paragraph")
        span#decision_text(class='report_text')
    #menu
      h2#menu_title Menu
      #menu_cursor_area
        #menu_cursor
      #menu_options_area

  #game

  button#advanceButton.button
    span#advanceText

  button#languageButton.button
    span#languageText
    span.icon
      img.icon(src="./assets/images/language-solid.svg")
