extends tpl/base

block body
  #info_element_0(class='info_element')
    h3#name
    #description
  #info_element_1(class='info_element')
    h3#name
    #description
  #info_element_2(class='info_element')
    h3#name
    #description
  #info_element_3(class='info_element')
    h3#name
    #description

  #central_info
    #report
      .text-center(class='report_text')
      h2(class='report_text') Report
      p
        span#situation_description(class='report_text')
      h3#policy(class='report_text')
        span#policy_name(class='report_text')
        | :
        span#policy_objective(class='report_text')
      br
      span#decision_text(class='report_text')
    #menu
      h2#menu_title Menu
      #menu_cursor_area
        #menu_cursor
      #menu_options_area

  #game

  button#advanceButton(class="menu_option")
    span#advanceText
