extends tpl/base

block body
  #info_elements
    .text-center
    #info_element_0(class='info_element')
      h3#name
      #description
    #info_element_1(class='info_element')
      h3#name
      #description
    #info_element_2(class='info_element')
      h3#name
      #description
    #info_element_3(class='info_element')
      h3#name
      #description

  #menu
    #menu_cursor_area
      #menu_cursor
    #menu_options_area

  #game
  #report
    .text-center
    h2 Report
    p
      span#situation_description
    h3
      | Policy:
      span#policy_name
    h3
      | Objective:
      span#policy_objective
    b
      | Decision:
    span#decision

  #options_bar
    button#advanceButton(type="button")
      span#advanceText

    button#debugButton(type="button")
      | Street Debug on/off