@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: local("Exo 2 Light"), url("../fonts/Exo2-VariableFont_wght.ttf") format("truetype"); }

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local("Exo 2 Light"), url("../fonts/Exo2-VariableFont_wght.ttf") format("truetype"); }

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  font-family: 'Exo 2';
  font-weight: 100;
  background-color: black;
  padding: 0px;
  margin: 0px; }

#central_info {
  position: absolute;
  left: 480px;
  top: 270px;
  width: 960px;
  height: 540px;
  padding: 20px;
  box-sizing: border-box; }
  #central_info .container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; }

.report_text {
  font-family: 'Exo 2'; }

p.report_paragraph {
  margin-block-start: 0.5em; }

p.report_paragraph:not(:last-child) {
  margin-block-end: 0.5em; }

#report {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  font-size: 22px;
  padding: 10px 20px;
  text-align: justify; }

.menu_container_outer {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%; }
  .menu_container_outer #menu {
    display: table-cell;
    text-align: center;
    white-space: nowrap; }
    .menu_container_outer #menu.top_menu {
      vertical-align: top;
      padding-top: 2em; }
    .menu_container_outer #menu.middle_menu {
      vertical-align: middle;
      padding-bottom: 2em; }
    .menu_container_outer #menu.bottom_menu {
      vertical-align: bottom; }
    .menu_container_outer #menu .menu_container_inner {
      display: inline-block; }
      .menu_container_outer #menu .menu_container_inner #menu_options_area {
        padding-top: calc(30px - 1em - 1ex);
        display: table;
        line-height: 15px;
        border-spacing: 1em; }
        .menu_container_outer #menu .menu_container_inner #menu_options_area * {
          display: table-row; }
          .menu_container_outer #menu .menu_container_inner #menu_options_area * * {
            display: table-cell; }
        .menu_container_outer #menu .menu_container_inner #menu_options_area .menu_option {
          min-width: 200px; }
        .menu_container_outer #menu .menu_container_inner #menu_options_area .selected > .menu_option {
          background-color: #ffec02; }
        .menu_container_outer #menu .menu_container_inner #menu_options_area .menu_cursor {
          position: relative;
          width: 50px;
          margin-right: 15px; }
          .menu_container_outer #menu .menu_container_inner #menu_options_area .menu_cursor * {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto auto;
            width: 25px; }
        .menu_container_outer #menu .menu_container_inner #menu_options_area :not(.selected) > .menu_cursor, .menu_container_outer #menu .menu_container_inner #menu_options_area .menu_cursor:last-child {
          visibility: hidden; }

.button, .menu_option {
  height: 60px;
  margin: 0 0 15px 0;
  padding: 0px 10px 0 10px;
  border: 5px solid #ffec02;
  border-radius: 15px;
  color: black;
  background-color: white;
  display: table-cell;
  vertical-align: middle;
  line-height: 80%;
  text-align: left;
  word-wrap: break-word;
  font-family: 'Exo 2';
  font-size: 20px;
  cursor: pointer; }

.button:focus, .menu_option:focus {
  outline: none; }

.button:active, .menu_option:active {
  background-color: #fffac0; }

.fade_in {
  animation: fade_in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

.fade_out {
  animation: fade_out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes fade_in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade_out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.info_elements {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .info_elements .ref {
    position: absolute;
    visibility: hidden;
    background-color: yellow;
    opacity: 0.25; }
  .info_elements .info_element {
    position: absolute;
    margin: 2px;
    float: left;
    color: #FFFFFF;
    border-radius: 2px;
    opacity: 0;
    padding: 10px 20px 10px 20px;
    font-size: 18px; }

#menu_title {
  font-size: 24px;
  text-align: center;
  margin: 10px 10px 2px 10px;
  display: inline-block; }

h2 {
  font-size: 26px;
  text-align: center;
  margin: 10px 0 15px 0; }

h3 {
  font-size: 24px;
  margin: 0 0 2px 0; }

.info_description {
  color: #303030; }

#game {
  width: 1920px;
  height: 1080px;
  padding: 0px;
  margin: 0px; }
  #game canvas {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: block; }

button {
  margin: 5px;
  border-width: 1px;
  background-color: white;
  color: #303030;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  padding: 4px 8px 4px 8px; }

#advanceButton {
  position: absolute;
  opacity: 0;
  left: 840px;
  width: 240px;
  bottom: 20px;
  margin-bottom: 0; }

#languageButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin-bottom: 0; }

#languageButton span.icon {
  position: relative;
  display: inline-block;
  height: 0px;
  line-height: 0px;
  vertical-align: middle;
  margin-left: 1ex; }

#languageButton * img.icon {
  position: relative;
  vertical-align: middle;
  height: 2.5em;
  top: -1.375em; }

/*# sourceMappingURL=default.css.map */
